################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/UserConfig.h
/Debug
/__vm/Configuration.Debug.vmps.xml
/__vm/Compile.vmps.xml
